<div id="sidebar" class="flex-column p-3 text-white bg-info">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Network Automation</span>
    </a>
    <hr>
    <button class="btn btn-light align-items-center rounded collapsed mb-2">
        <svg class="bi me-2" width="16" height="16">
            <use href="../static/icons.svg#monitor" />
        </svg>
        911 Requirements
    </button>
    <button class="btn btn-light align-items-center rounded collapsed mb-2">
        <svg class="bi me-2" width="16" height="16">
            <use href="../static/icons.svg#tools" />
        </svg>
        VLSM Calculator
    </button>
    <hr>
</div>


<div id="toggledSidebar" class="flex-column p-3 text-white bg-info">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">N</span>
    </a>
    <hr>
    <button class="btn btn-light align-items-center rounded collapsed mb-2" id="monitor-collapse">
        <svg class="bi me-2" width="16" height="16">
            <use href="../static/icons.svg#monitor" />
        </svg>
    </button>
    <button class="btn btn-light align-items-center rounded collapsed mb-2 align-center" data-bs-toggle="collapse"
        data-bs-target="#tools-collapse" aria-expanded="true">
        <svg class="bi me-2" width="16" height="16">
            <use href="../static/icons.svg#tools" />
        </svg>
    </button>
    <hr>
</div>